<!DOCTYPE html>
<html lang="en">
    <head>
        {% block title %}
            <title>StockTracker</title>
        {% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Add additional CSS in static file -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body class="container" onload="init()">
        <script>
            function init() {
                document.getElementById("main").style.marginLeft = "0px";
            }
            function toggleNav() {
                if (document.getElementById("main").style.marginLeft === "0px") {
                    document.getElementById("my_sidebar").style.width = "200px";
                    document.getElementById("main").style.marginLeft = "200px";
                } else {
                    document.getElementById("my_sidebar").style.width = "0px";
                    document.getElementById("main").style.marginLeft = "0px";
                }
            }
        </script>
        <div class="heading">
            <button class="nav-toggler" onclick="toggleNav()">☰</button>
            <a class="home-icon" href="{% url 'index' %}"><b>StockTracker</a>
        </div>
        <div id="my_sidebar" class="sidebar">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'search' %}">Search</a>
        </div>
        <div id="main" class="content">{% block content %}{% endblock %}</div>
    </body>
</html>