{% extends "base_generic.html" %}

{% block content %}
    <h1>StockTracker Home</h1>
    <p>Welcome to StockTracker, a website developed by <em>CSCE 490/492 Capstone</em>!</p>
    <hr>
    This is a website to complete the research milestone.<br>
    I didn't really bother stylizing this webpage as Django has a strong learning curve as is.<br>
    Click the search hyperlink on the left to go to the search screen.<br>
    Then you can search any stock ticker. (Or at least the one's from Nasdaq)<br>
    Additionally, you can quickly perform many searches with various filters.
{% endblock %}