{% extends "base_generic.html" %}

{% block content %}
    <h2>Search</h2>
    <hr>
    <form action="" method="GET" value="{{ request.GET.q }}">
        <datalist id="tickers">
            {% for stock in stocks %}
                <option value="{{ stock.symbol }}">
            {% endfor %}
        </datalist>
        {% if query %}
            Search: <input list="tickers" type="text" name="q" value="{{ query }}">
        {% else %}
            Search: <input list="tickers" type="text" name="q" placeholder="Search...">
        {% endif %}
        <select name="filter" class="form-control">
            {% for val, text in filters %}
                {% if val == curr_filter %}
                    <option value="{{ val }}" selected>{{ text }}</option>
                {% else %}
                    <option value="{{ val }}">{{ text }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input name="submit" type="submit" value="Search">
    </form>
    {% if submitbutton == 'Search' %}
        <h3 style="margin-bottom: 0px; padding-bottom: 0px;">Search Results for {{ request.GET.q |upper}}</h3>
        <h5 style="margin-top: 0px; padding-top: 0px;">{{ results.count }} results</h5>
        <hr>
        {% if results %}
            {% for result in results %}
                <div>
                    <b>{{ result.symbol }}:</b> {{ result.name }} (${{ result.current_price }})<br>
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            No search results for this query
        {% endif %}
    {% endif %}
{% endblock %}