{% extends "base_generic.html" %}

{% block content %}
    <h1>StockTracker Search</h1>
    <hr>
    <form action="" method="GET" value="{{ request.GET.q }}">
        <datalist id="tickers">
            {% for stock in stocks %}
                <option value="{{ stock.symbol }}">
            {% endfor %}
        </datalist>
        {% if query %}
            Search: <input list="tickers" type="text" name="q" value="{{ query }}">
        {% else %}
            Search: <input list="tickers" type="text" name="q" placeholder="Search...">
        {% endif %}
        <input name="submit" type="submit" value="Search">
        <select name="filter" class="form-control">
            {% for val, text in filters %}
                {% if val == curr_filter %}
                    <option value="{{ val }}" selected>{{ text }}</option>
                {% else %}
                    <option value="{{ val }}">{{ text }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </form>
    {% if submitbutton == 'Search' and not request.GET.q == '' %}
        <h3>Search Results for {{ request.GET.q |upper}}</h3>
        <hr>
        {% if results %}
            {% for result in results %}
                <div>
                    <b>{{ result.symbol }}:</b> {{ result.name }} (${{ result.current_price }})<br>
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            No search results for this query
        {% endif %}
    {% endif %}
{% endblock %}